<div class="home--container">
    <div class="home--big-card">
        <app-big-card
            coverImageCentral="assets/default_cover.webp"
            coverImageRightAuthor="assets/author_week.jpg"
            coverImageRightAudiobook="assets/audiobook_week.jpg"
        ></app-big-card>
    </div>
    <div class="home--small-card">
        <app-small-card
            coverSmallCard="assets/default_cover.webp"
            titleSmallCard="O Segredo das Sombras"
            authorSmallCard="Morgana Moraes"
        ></app-small-card>
        <app-small-card
            coverSmallCard="assets/default_cover.webp"
            titleSmallCard="O Segredo das Sombras"
            authorSmallCard="Morgana Moraes"
        ></app-small-card>
        <app-small-card
            coverSmallCard="assets/default_cover.webp"
            titleSmallCard="O Segredo das Sombras"
            authorSmallCard="Morgana Moraes"
        ></app-small-card>
    </div>
</div>