<div class="books-list--container">
    <app-small-books></app-small-books>
    <app-small-books></app-small-books>
    <app-small-books></app-small-books>
    <app-small-books></app-small-books>
    <app-small-books></app-small-books>
    <app-small-books></app-small-books>
    <app-small-books></app-small-books>
    <app-small-books></app-small-books>
    <app-small-books></app-small-books>
    <app-small-books></app-small-books>
    <app-small-books></app-small-books>
    <app-small-books></app-small-books>
    <app-small-books></app-small-books>
    <app-small-books></app-small-books>
    <app-small-books></app-small-books>
    <app-small-books></app-small-books>
    <app-small-books></app-small-books>
    <app-small-books></app-small-books>
</div>



