<div class="books-list--container">
    <app-small-books
        Id="0"
        coverSmallBook="assets/default_cover.jpg"
        titleSmallBook="xxxx"
        authorSmallBook="xxxxx"
    ></app-small-books>
    <app-small-books
        Id="1"
        coverSmallBook="assets/default_cover.jpg"
        titleSmallBook="xxxx"
        authorSmallBook="xxxxx"
    ></app-small-books>
    <app-small-books
        Id="2"
        coverSmallBook="assets/default_cover.jpg"
        titleSmallBook="xxxx"
        authorSmallBook="xxxxx"
    ></app-small-books>
    <app-small-books
        Id="3"
        coverSmallBook="assets/default_cover.jpg"
        titleSmallBook="xxxx"
        authorSmallBook="xxxxx"
    ></app-small-books>
    <app-small-books
        Id="4"
        coverSmallBook="assets/default_cover.jpg"
        titleSmallBook="xxxx"
        authorSmallBook="xxxxx"
    ></app-small-books>
    <app-small-books
        Id="5"
        coverSmallBook="assets/default_cover.jpg"
        titleSmallBook="xxxx"
        authorSmallBook="xxxxx"
    ></app-small-books>
    <app-small-books
        Id="6"
        coverSmallBook="assets/default_cover.jpg"
        titleSmallBook="xxxx"
        authorSmallBook="xxxxx"
    ></app-small-books>
    <app-small-books
        Id="7"
        coverSmallBook="assets/default_cover.jpg"
        titleSmallBook="xxxx"
        authorSmallBook="xxxxx"
    ></app-small-books>
    <app-small-books
        Id="8"
        coverSmallBook="assets/default_cover.jpg"
        titleSmallBook="xxxx"
        authorSmallBook="xxxxx"
    ></app-small-books>
    <app-small-books
        Id="9"
        coverSmallBook="assets/default_cover.jpg"
        titleSmallBook="xxxx"
        authorSmallBook="xxxxx"
    ></app-small-books>
    <app-small-books
        Id="10"
        coverSmallBook="assets/default_cover.jpg"
        titleSmallBook="xxxx"
        authorSmallBook="xxxxx"
    ></app-small-books>
    <app-small-books
        Id="11"
        coverSmallBook="assets/default_cover.jpg"
        titleSmallBook="xxxx"
        authorSmallBook="xxxxx"
    ></app-small-books>
</div>



